.vs/
*.suo
StudioElevenLib/obj/
StudioElevenLibTest/obj/

*.xi
*.npc.bin
*.talk.bin
*_funcpt.bin
*_healpt.bin
*_mapenv.bin
*.mmm.bin
*.ralcam
*.tbx.bin
*.atr
*.cmn
*.imm2
*.mbn
*.mtminf
*.mtn2
*.mtninf
*.mtm2
*.imminf
*.mtr
*.prm
*.txp
*RES.bin
*.cfg.bin
*.atr
*.xc
*_trapt.bin
*_s.enc.bin
*_HQ.xk
*.xk
*.fpdef
*.fpdef.txt
*.mapenv
*.xi.00.png
*.xi.png
*.mapcol

*.pbi
*.pvb
*.bin